   {% extends "loginlayout.html" %}
   
    {% block content %}
    <h1><center>{{ title }}</center></h1>

    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h3></h3>
			<form name="login" action="" method="POST" novalidate>
			<fieldset class="form-group">
			<legend>{{ title }}</legend>
			{{ form.hidden_tag() }}
			<p>
			{{ form.username.label }}<br>
			{{ form.username(size=18) }}
			{% for error in form.username.errors %}
			<span class="error-message">{{error}}</span>
			{% endfor %}
			</p>
			<p>
			{{ form.password.label }}<br>
			{{ form.password(size=15) }}
			{% for error in form.password.errors %}
			<span class="error-message">{{error}}</span>
			{% endfor %}
			</p>
			<p>
			{{ form.submit()}}
			</p>
			
			
          
            </form>
        </div>
    </div>
 {% endblock %}